<header class="navbar">

    <div class="container-wide navbar-container">

        <a href="index.html" class="logo-business">

            <img src="./docs/assets/icons/favicon-96x96.png"
                alt="TriSaar Consulting"
                class="logo-image">

            <!-- span class="logo-text">
                TriSaar Consulting
            </span -->

            <div class="logo-text">
                <span class="logo-primary">TRISAAR</span>
                <div class="logo-secondary"><span style="padding-left: 0.5rem; padding-right: 0.5rem;">Consulting</span></div>
                <div class="logo-tertiary">
                    <span class="pipe">|</span>
                    <span> त्रिसार: संगच्छते एकम् </span>
                    <span class="pipe">|</span>
                </div>
            </div>

        </a>

        <nav class="nav-menu">

            <a href="index.html#home">About</a>

            <a href="index.html#capabilities">Capabilities</a>

            <a href="index.html#case-studies">Case Studies</a>

            <a href="index.html#technology">Technology</a>

            <a href="contact.html">Contact</a>

        </nav>

        <a href="contact.html" class="btn btn-primary">

            Let's Talk

        </a>

    </div>

</header>