<header class="navbar">

    <div class="container-wide navbar-container">

        <a href="index.html" class="logo-business">

            <img src="./docs/assets/images/BusinessLogo_icon_trnp.png"
                alt="TriSaar Consulting"
                class="logo-image">

            <!-- span class="logo-text">
                TriSaar Consulting
            </span -->

            <div class="logo-text">
                <span class="logo-primary">TRISAAR</span>
                <div class="logo-secondary"><span> Consulting </span></div>
                <div class="logo-tertiary"><span> त्रिसार: संगच्छते एकम् </span></div>
            </div>

        </a>

        <nav class="nav-menu">

            <a href="#home">About</a>

            <a href="#capabilities">Capabilities</a>

            <a href="#case-studies">Case Studies</a>

            <a href="#technology">Technology</a>

            <a href="#contact">Contact</a>

        </nav>

        <a href="#contact" class="btn btn-primary">

            Let's Talk

        </a>

    </div>

</header>